{% extends 'base.html' %} 
{% load tailwind_filters %}
{% block content %}
<div class="max-w-lg mx-auto">
    <a href="{% url 'signup' %}" class="hover:text-red-500 mb-5 text-grey-400">Don't have an account?</a>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="flex mx-auto mt-5 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Reset Password</button>
    </form>
    <a href="{% url 'login' %}" class="hover:text-red-500" >Already have an account?</a>
</div>


{% endblock content %}