{% extends 'base.html' %} 

{% block content %}


<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="text-center mb-5">
        <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900">You have Successfully reset your password!</h1>
        <img class="" src="https://octodex.github.com/images/Fintechtocat.png">
        <!-- <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Ensure that you do not forget it next time okay?</p> -->
    </div>
    <a href="{% url 'login' %}" ><button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Login Here</button></a>
    </div>
  </div>

{% endblock content %}`