{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}



<h1 class="text-center">Add a new Review for: {{ movie.title }}</h1>
    </head>
    <body>
        <a href="movies/movie_detail.html">Go back to {{ movie.title }}</a>
        <hr/>
    <div class="max-w-lg mx-auto">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="inline-flex text-white bg-red-500 border-0 py-2 px-6 my-3 focus:outline-none hover:bg-red-600 rounded text-lg" type="submit" value="Submit">
        </form>
    </div>
    </body>
</html>

{% endblock content %}